*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f5f5;
    padding:20px;
}

.container{
    max-width:500px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#666;
    margin-bottom:25px;
}

.produk-card{
    display:block;
    background:white;
    border-radius:15px;
    padding:20px;
    text-decoration:none;
    color:black;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.produk-card:hover{
    transform:translateY(-3px);
}

.produk-info h2{
    margin-bottom:8px;
}

.produk-info p{
    color:#666;
    margin-bottom:10px;
}

.produk-info span{
    color:#2563eb;
    font-weight:bold;
}